PG_HOST=your-postgres-host
PG_NAME=main
PG_USER=your-postgres-user
PG_PASSWORD=your-postgres-password
PG_PORT=5432
PG_SSLMODE=require
PG_CONNECT_TIMEOUT=10
 

CONTRACARGO_ORIGEN_PATH=G:\\Unidades compartidas\\SAC - ADMIN\\05.- Reportes\\Contracargos_MP\\2025\\Reporte_Contracargos\\Reporte_contracargo_MP_2025.xlsx
CONTRACARGO_SALIDA_PATH=G:\\Unidades compartidas\\SAC - ADMIN\\05.- Reportes\\Contracargos_MP\\2025\\Reporte_Mp.xlsx
VENTAS_RUTA_PATH=G:\\Unidades compartidas\\SAC - ADMIN\\05.- Reportes\\Contracargos_MP\\2025\\Reporte_Ventas_MP
 

