PG_HOST=your-postgres-host
PG_NAME=main
PG_USER=your-postgres-user
PG_PASSWORD=your-postgres-password
PG_PORT=5432
PG_SSLMODE=require
PG_CONNECT_TIMEOUT=10
 

FECHA_INICIO=2025-09-01T00:00:00
FECHA_FIN=2025-12-01T00:00:00
 
 
REINTENTOS_CONEXION=5
ESPERA_REINTENTO_SEGUNDOS=10
UI_WIDTH=360
UI_HEIGHT=260
